* {
  margin: 0;
  padding: 0;
}
.Navbar {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.Navbar-1 {
  position: relative;
  top: 100px;
  padding: 20px;
  display: flex;
}
.Navbar-1 h2 {
  position: relative;
  width: 400px;
  top: 40px;
  left: 50px;
}
.Navbar-1 p {
  position: relative;
  top: 160px;
  right: 125px;
}
.Navbar-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.Navbar-2 button {
  background-color: white;
  border: solid #dfdfdf;
  width: 550px;
  height: 50px;
}
.btn {
  position: relative;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 148px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  border: solid #dfdfdf;
}
.Maincontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
